/* Variables for reusability */
$primary-color: #000000;
$secondary-color: #ffffff;
$header-height: 80px;
$animation-duration: 0.5s; /* Adjust animation duration */

/* Header styles */
.header {
  background-color: $primary-color;
  height: $header-height;
  display: flex;
  justify-content: space-between; /* Logo to the left, navbar to the right */
  align-items: center;
  padding: 0 20px;
  color: rgb(4, 255, 0);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* Navbar styles */
  .navbar {
    .nav-list {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;

      .nav-item {
        margin: 0 15px;
        cursor: pointer;
        transition: color $animation-duration;
      }
    }
  }
}

/* Animation for navbar items */
.nav-item {
  &:hover {
    color: darken($secondary-color, 20%);
    animation: scale-in $animation-duration ease-in-out;
  }
}

/* Keyframes for animation */
@keyframes scale-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
